
.box-design{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.info-text{
    width: 80%;
    color: #fff;
}
h1{
    font-weight: bold;
}
p{
    line-height: 2;
}
.flex-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(149, 212, 233)
}
.flex-info{
    width: 350px;
    margin: 20px;
    align-items: center;
    border-radius:25px;
    background: darkblue;
}
.flex-info h1{
    color:#fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.flex-info p{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    color: #fff;
    margin-top: 5px;
    padding: 20px;
}
